body {
  overflow: hidden;
  background-color: #9948e4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #9948e4;
}
header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.Quiz {
  /* background-color: #000; */
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2% 5%;
  height: 80vh;
}
.wrapQS {
  height: auto;
  background-color: #308125;
  border-radius: 20px;
}
.QS {
  height: 50vh;
  margin: 5px;
  overflow-y: scroll;
}
.QS::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}
.QS::-webkit-track {
  box-shadow: inset 1px 1px 5px grey;
  border-radius: 5px;
}
.QS::-webkit-scrollbar-thumb {
  background: #80750081;
  border-radius: 5px;
}
.QS::-webkit-scrollbar-thumb:hover {
  background: #be9f00;
  border-radius: 5px;
}
.Ques {
  margin: 0 20px;
  padding: 10px 20px 0 20px;
}
.question {
  display: flex;
  background-color: #4747ff;
  padding: 20px;
  font-size: larger;
  border-radius: 10px 10px 0 0;
  justify-content: center;
}
.ans {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background-color: rgb(71, 71, 71);
}
.options {
  background: rgb(51, 148, 187);
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.radio {
  margin: 0 10px;
}
.reset {
  margin: 0 20px;
  padding: 10px;
}
#submit {
  position: relative;
  bottom: 0;
  display: flex;
  margin: 10px 44% 12px 44%;
  width: 12%;
  justify-content: center;
}
.results {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(155, 155, 155);
  text-align: center;
  font-weight: 600;
  height: 10vh;
  width: 100vw;
  margin: auto;
  padding-bottom: 20px;
}

footer p {
  color: #308125;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
